trajectory_tt_publisher:
  ros__parameters:
    publishRate: 100.0
    publishOnce: true
    commandFrameId: command
    trajectoryType: linear_move # linear_move, target_pose, figure_eight
    horizon: 4.0
    dt: 0.05
    amplitude: 0.20
    frequency: 0.05

    axisX: 1.0
    axisY: 0.0
    axisZ: 1.0

    # linearMoveOffset: [0.0, 0.0, 0.1, 0.0, 0.0, 0.0] # [dx, dy, dz, thz, thy, thx] (m, rad)
    linearMoveOffset: [0.0, 0.0, 0.1, 0.0, 0.7854, 0.0] # [dx, dy, dz, thz, thy, thx] (m, rad)
    linearMoveOffsetInToolFrame: true
    linearMoveTimeScaling: min_jerk # linear, min_jerk

    # target_pose: move along a straight line in the global frame from the initial EE pose to a specified target pose.
    # poseMoveTarget: [x, y, z] or [x, y, z, thz, thy, thx] or [x, y, z, qx, qy, qz, qw]
    # poseMoveTarget: [0.45, 0.10, 0.30, 0.0, 0.0, 0.0, 1.0]
    poseMoveTarget: [] # empty -> stay at initial pose (no motion)
    poseMoveTimeScaling: min_jerk # linear, min_jerk

trajectory_progress_monitor:
  ros__parameters:
    monitorRate: 100.0
    publishTF: true
    closestFrameId: command_closest
    window: 20
    maxBacktrack: 5

    onTrackPos: 0.005
    onTrackOriDeg: 5.0

    divergedPos: 0.03
    divergedHoldSec: 0.5

    finishProgress: 0.98
    finishPos: 0.005
